:root {
    --colorBlanco: #fff;
    --colorAzul: #042c6c;
    --colorBlancoAzulado: #ced7e38f;
    --colorAzulClaro: #2596be;
    --colorAzulClaroMasOscuro: #2080a3;

}
.logo{
    width: 55px;
}

.container-main{
    /* border: solid 3px red; */
    padding-top: 5% !important;
    padding: 0 3%;
    height: 87vh;
    max-height: 87vh;
    overflow: hidden;
    overflow-y: scroll;
}

.title-texas{
    color: var(--colorAzul) !important;
}


.cont-fisico-placas {
    /* border: solid 3px red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont-placa {
    /* border: solid 1px gray; */
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    background: var(--colorBlanco);
    box-shadow: #00000031 0 1px 15px;
    cursor: pointer;
    margin: 10px;
}

.cont-placa:hover {
    transform: scale(1.2);
}

.icono-placa {
    /* border: solid 3px rgb(44, 3, 35); */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #042c6c;
    overflow: hidden;
    margin-bottom: 12%;
}

.icono-placa i {
    font-size: 25px;
    color: var(--colorBlanco);
}
.icono-placa img{
    width: 100%;
    object-fit: contain;
}

/* .icono-insurance{
    margin-bottom: 12%;
} */

.label-placa {
    color: var(--colorAzulClaro);
    font-weight: bold;
}
/* -------------------------------- */
.cont-logo{
    /* border: solid 3px red; */
    width: 120px;

}
.cont-logo img{
    width: 100%;
    object-fit: contain;
}
/* ---------- Form Register -------------*/

.cont-form-register{
    /* border: solid 3px red; */
    width: 100%;
    padding-bottom: 4%;
}
.cont-form-register h2{
    text-align: center;
    font-weight: bold;
    color: var(--colorAzul);
    margin-bottom: 5%;
}
.form-register{
    /* border: solid 3px blue; */
}
.form-register h4{
    color: var(--colorAzul);
    padding-bottom: 1%;
    border-bottom: dotted var(--colorAzul) 1.5px;
}


.form-campos{
    /* border: solid 3px hotpink; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-campos label{
    padding-top: 3%;
    color: var(--colorAzulClaroMasOscuro);
}
.cont-campo{
    width: 330px;
    margin: 10px;
}

/* -------- Fin Form Register -----------*/